@namespace VanillaBlazor
@inherits VContentComponentBase<TModel>
@typeparam TModel

<CascadingValue Value="this" IsFixed="true">
    <CascadingValue Value="@ColumnContext" IsFixed>
        <CascadingValue Name="IsInitialize" Value="true" IsFixed>
            @if (ChildContent != null)
            {
                @ChildContent(Model)
            }
        </CascadingValue>
        <table>
            <CascadingValue Value="VColumUse.Header" IsFixed>
                @THeaderFragment()
            </CascadingValue>
            <CascadingValue Value="VColumUse.Body" IsFixed>
                <tbody>
                    @if (DataSource != null && ChildContent != null)
                    {
                        foreach (var data in DataSource)
                        {
                            <tr>
                                @ChildContent(data)
                            </tr>
                        }
                    }
                </tbody>
            </CascadingValue>
        </table>

        @*@Content()*@
    </CascadingValue>
</CascadingValue>
