@inherits LayoutComponentBase


<div class="l-application">
    <header class="l-navigation is-collapsed">
        <div class="l-navigation__drawer">
            <NavMenu />
        </div>
    </header>
    <main class="l-main">
        <div class="p-panel">
            <div class="p-panel__header">
                <h4 class="p-panel__title">Admin</h4>
            </div>
            <div class="p-panel__content">
                <div class="u-fixed-width">
                    @Body
                </div>
            </div>
        </div>
    </main>
</div>