@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<VButton OnClick="IncrementCount">Click me</VButton>
<span>Everything you need to get started with Vanilla.</span>
<VButton OnClick="IncrementCount" Appearance="VButtonAppearance.Negative" Inline Small Dense>Click me</VButton>

<VChip OnClick="IncrementCount" Value="Bob" Lead="Owner" Inline/>
<VChip OnClick="IncrementCount" Value="21.10" Dense/>
<VChip OnClick="IncrementCount" Value="Selected" Selected/>
<VChip Value="Dismiss" Selected OnDismiss="@(() => Console.WriteLine("关闭"))"/>

<span class="p-contextual-menu--left">
  <button class="p-contextual-menu__toggle" aria-controls="menu-3" aria-expanded="false" aria-haspopup="true">Take action…</button>
  <span class="p-contextual-menu__dropdown" id="menu-3" aria-hidden="true" style="top: 37px;">
    <span class="p-contextual-menu__group">
      <button class="p-contextual-menu__link">Commission</button>
      <button class="p-contextual-menu__link">Aquire</button>
      <button class="p-contextual-menu__link">Deploy</button>
    </span>
    <span class="p-contextual-menu__group">
      <button class="p-contextual-menu__link">Test harware</button>
      <button class="p-contextual-menu__link">Rescue mode</button>
      <button class="p-contextual-menu__link">Mark broken</button>
    </span>
  </span>
</span>

<VGrid Demo>
    <VRow>
        <VCol Size=12>
            .col-12
        </VCol>
    </VRow>
    <VRow>
        <VCol Size=11>
            .col-11
        </VCol>
        <VCol Size=1>
            .col-1
        </VCol>
    </VRow>
</VGrid>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
